/*
--------------------
MARK: Imports
--------------------
*/
@import "tailwindcss";

/*
--------------------
MARK: Theme
--------------------
*/
@theme {
  --color-primary: var(--text);
  --color-secondary: var(--text-sec);

  --color-bg: var(--bg);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --color-underline: var(--underline);

  --font-pixel: "R3bbitPixelFont", sans-serif;
  --font-raleway: "Raleway", sans-serif;
}

/*
--------------------
MARK: Global Styles
--------------------
*/
@layer base {
  @font-face {
    font-family: "R3bbitPixelFont";
    src: url("/public/fonts/R3bbitPixelFont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  :root {
    --bg: #e0e0e0;
    --text: #121212;
    --text-sec: #888888;
    --border: #444444;
    --accent: #b0b0b0;

    --underline: var(--text-2);
  }

  html[data-theme="dark"] {
    --bg: #121212;
    --text: #e0e0e0;
    --text-sec: #b0b0b0;
    --border: #e0e0e0;
    --accent: #888888;

    --underline: var(--text-2);
  }

  body {
    margin: 0;
    @apply bg-bg text-primary font-raleway font-normal;
  }

  main {
    @apply py-[3em] lg:py-[2em] px-[10vw];
  }

  header {
    @apply fixed top-0 left-0 w-full z-999 transition-transform duration-250 ease-in-out;
  }

  a {
    @apply no-underline text-inherit hover:underline;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply mt-5 font-raleway text-primary;
  }

  h1 {
    @apply font-extrabold;
  }
  h2 {
    @apply font-bold;
  }
  h3 {
    @apply font-semibold;
  }
}

.hide-header {
  @apply -translate-y-full;
}

/*
--------------------
MARK: Animations
--------------------
*/
html.theme-transition,
html.theme-transition * {
  transition: background-color 250ms linear, color 250ms linear,
    border-color 250ms linear, fill 250ms linear, stroke 250ms linear;
}
